@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import "tailwindcss";


@theme{
   --color-primary: #5BB0FF;
   --font-lobster: 'Lobster',  sans-serif;
}

html{
   @apply scroll-smooth
}

::-webkit-scrollbar{
   display: none;
}